<div class="container">
  <div class="block">
    <h5>- You :</h5>
    <h1><%= @query %></h1>

  </div>
  <div class="block">
    <h5>- Your Coach :</h5>
    <h1><%= @answer %></h1>

  </div>
  <div class="block">
    <%= link_to "ask a new question", ask_path %>
  </div>
</div>
