<div class="container">
  <form action="/answer" method="GET">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="  What?">
  <input type="submit" type="btn" value="Ask !">
</form>
</div>
